body {
    background-image:url('../images/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    text-align: center;
    color: indigo;
}
h4 {
    text-align: center;
    font-size: 14px;
}

h2 {
    text-align: center;
    margin-top: 25px;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: lightsalmon;
}
.box-1 {
    text-align: center;
    margin: 25px;
}

.box-2 {
    padding-right: 20px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    margin-top: 26%;
    margin-bottom: 20px;
  }

footer{
    text-align: center;
    color: white;
}

a{
    color:cornflowerblue;
    
  }
  a:hover {
      text-shadow: 0 0 5px purple;
      color: purple;
      border: solid gray;
      
  }
  a:active {
      color: red;
      text-shadow: 4 40 15px pu;
      border: dotted gray;
      box-shadow:5px 10px #888888;
  }

@media only screen and (max-width: 650px) {
    .box {
        display: flex;
        flex-direction: column;
        background-color: lightsalmon;
    }

    img{
        margin-top: 10%;
    }
}