*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-image:url('../images/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    text-align: center;
    margin-bottom: 5%;
    font-size: larger;
}

header {
    text-align: center;
    width: 100%;
    color:cornflowerblue;
    padding:5% ;
  }
  .box {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: lightsalmon;
    position: relative;
  }
  ul{
    list-style: none;
  }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
  
  .box-1 {
    float: left;
    width: auto;
    text-align: center;
    padding-top: 1rem;
  }

  
  .box-2 {
    float: left;
    width: 50%;
    margin : 5px;
    padding: 5px;
    text-align: center;
  }
  
  .box-3 {

    float: left;
    width: 15%;
    padding: 10px;
    box-sizing: border-box;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    
  }

footer{
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 20px;
}
a{
  color:cornflowerblue;
}
a:hover {
    text-shadow: 0 0 5px purple;
    color: purple;
}
a:active {
    color: red;
    text-shadow: 4 40 15px pu;
} 
@media only screen and (max-width: 900px) {
    .box {
        display: flex;
        flex-direction: column;
        background-color: lightsalmon;
        padding-left: 150px;
        justify-content: center;
    }
    .box-1{
      padding-right: 19rem;
      padding-bottom: 4rem;
    }
    p{
      margin-left: 20px;
    }

    img{
      height: 500px;
      width: 300px;
    }
}