body {
    background-image:url('../images/background.jpg');
}

h2 {
    text-align: center;
}

header {
    text-align: center;
    width: 100%;
    color:cornflowerblue;
  }
  .box {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: lightsalmon;
  }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
  
  .box-1 {
    float: left;
    width: 20%;
    padding: 30px;
    padding-bottom: 65px;
    text-align: center;
  }

  
  .box-2 {
    float: left;
    width: 50%;
    margin : 5px;
    padding: 5px;
    text-align: center;
  }
  
  .box-3 {

    float: left;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
  }

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
  }

footer{
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 20px;
}

@media only screen and (max-width: 900px) {
    .box {
        display: flex;
        flex-direction: column;
        background-color: lightsalmon;
        padding-left: 150px;
    }
    .box-1{
      float: middle;
    }
}