body {
    background-image:url('../images/background.jpg');
}
header{
    display: grid;
    color: indigo;
    width: 100%;
    text-align: center;
}
.box{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightsalmon;
    padding: 10px;
}

.box-1 {
    padding: 30px;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    margin-top: 20px;
  }

footer{
    display: grid;
    width: 100%;
    text-align: center;
    color:white;
}

h2{
    text-align: center;
    color: indigo;
}

@media only screen and (max-width: 650px) {
    .box {
        display: grid;
        background-color: lightsalmon;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
    }   
}