body {
    background-image:url('../images/background.jpg');
}

header{
    text-align: center;
    color: indigo;
    font-size: x-large;
}

main{
    text-align: center;
}
.button {
    border: solid gray;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 200px;
  }

  .button1 {
    background-color: purple; 
    color: black; 
    border: 2px solid purple Ba;
  }
  
  .button1:hover {
    box-shadow: 0 10px 24px rgba(145, 92, 182, .4);
    color: white;
  }
  
  .button2 {
    background-color: rgb(31, 102, 31); 
    color: black; 
    border: 2px solid rgb(31, 102, 31)Ba;
  }
  
  .button2:hover {
    box-shadow: 0 10px 24px rgba(145, 92, 182, .4);
    color: white;
  }
  
  .button3 {
    background-color: red; 
    color: black; 
    border: 2px solid red Ba;
  }
  
  .button3:hover {
    box-shadow: 0 10px 24px rgba(145, 92, 182, .4);
    color: white;
  }

  footer{
    text-align: center;
    color: white;
    margin-top: 90px;
}
